{% extends "layouts/main.html" %}

{% block pageTitle %}
  Which directors will sign the application? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <form method="post" action="/V4/which-directors-will-be-signing">

        {% if data['whichDirectorAreYou'] in ["JaneDoe", "SaraFrancis", "JamesShipley"] %}

          {{ govukCheckboxes({
            name: "whichDirectorsWillBeSigningTheApplication",
            fieldset: {
              legend: {
                text: "Which other directors will sign the application?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              html: '
                More than half of the directors must sign, so you must select 1 or more of these directors 
                ' 
            },
            items: [
              {
                value: "SaraFrancis",
                text: "FRANCIS, Sara"
              },
              {
                value: "JamesShipley",
                text: "SHIPLEY, James"
              },
              {
                value: "AcmeLtd",
                text: "ACME LTD"
              }
            ]
          }) }}

        {% else %}

          {{ govukCheckboxes({
            name: "whichDirectorsWillBeSigningTheApplication",
            fieldset: {
              legend: {
                text: "Which directors will sign the application?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              html: '
                More than half of the directors must sign, so you must select 3 or more of these directors 
                ' 
            },
            items: [
              {
                value: "JaneDoe",
                text: "DOE, Jane"
              },
              {
                value: "SaraFrancis",
                text: "FRANCIS, Sara"
              },
              {
                value: "JamesShipley",
                text: "SHIPLEY, James"
              },
              {
                value: "AcmeLtd",
                text: "ACME LTD"
              }
            ]
          }) }}

        {% endif %}

{% from "govuk/components/details/macro.njk" import govukDetails %}

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      More information about who needs to sign
    </span>
  </summary>
  <div class="govuk-details__text">
   
  <strong>Directors who are people</strong></p>
  <p>
    Directors must sign the application themselves. Nobody can sign on their behalf.<br><br>

    Sometimes a director cannot sign. For example, because they no longer have mental capacity. 
    If there are not enough directors who are able to sign, you'll need to 
    <a href="https://www.gov.uk/file-changes-to-a-company-with-companies-house" class="govuk-link" rel="noreferrer noopener" target="_blank">
      make changes to the company directors (opens in new tab)
    </a> before continuing with this application. 
  </p>

  <p><strong>Corporate directors</strong></p>
  <p>
    For directors that are companies, you'll need to provide the name and email address of a person who the company has authorised to sign on its behalf.
  </p>

  </div>
</details>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
