{% extends "layouts/main.html" %}

{% block pageTitle %}
  Directors must sign – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Email address not authorised to sign</h1>

    <p>
 The email address you've signed in with was not provided by the person who started the application. They gave us these details:

        <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Name</th>
          <th scope="col" class="govuk-table__header">Email</th>
          
          <th scope="col" class="govuk-table__header">Status</th>
        </tr>
      </thead>
<tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">FRANCIS, Sara</td>
    <td class="govuk-table__cell">s.francis@email.com</td>
    
    <td class="govuk-table__cell">
      <strong class="govuk-tag"
        style="background-color:#1d70b8; color:#ffffff; font-weight:700;">
        Signed
      </strong>
    </td>
  </tr>

  <tr class="govuk-table__row">
    <td class="govuk-table__cell">
      DOE, Jane<br>
      <span class="govuk-hint">on behalf of ACME LTD</span>
    </td>
    <td class="govuk-table__cell">jane.doe@email.com</td>
    
    <td class="govuk-table__cell">
      <strong class="govuk-tag govuk-tag--grey">
        Not signed
      </strong>
    </td>
  </tr>
</tbody>
    </table>

  <h2 class="govuk-heading-m">If your email address is shown on this page</h2>

    <p>You'll need to <a href="#" class="govuk-link">sign in to this service again</a>, using this email address. You can create a new account with GOV.UK One Login if you do not already have one.</p>

    <p>Make sure you type the email address exactly as it appears here. For example, use capital letters or lowercase.
    

  <h2 class="govuk-heading-m">If your email address is not shown on this page</h2>

<p> Ask the person who started the application to sign in to this service and correct your details.</p>




  </div>
</div>
{% endblock %}