{% extends "layouts/main.html" %}

{% block pageTitle %}
  Directors must sign – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">You cannot sign the application using this email address</h1>

    <p>
      You can only sign the application if your name and email address have been given to us by the person making the application.
    </p>

    <p>You'll need to use that same email address to sign in. You can create a new account if you don't already have one.</p>
    
    <p><a href="#" class="govuk-link">Sign in with a different email address</a>


</p>

    <h2 class="govuk-heading-m">Application status</h2>

      <p>If an email address shown here is incorrect, ask the person who started the application to sign in to this service and change it.</p>


    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Name</th>
          <th scope="col" class="govuk-table__header">Email</th>
          
          <th scope="col" class="govuk-table__header">Signed</th>
        </tr>
      </thead>
<tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">FRANCIS, Sara</td>
    <td class="govuk-table__cell">s.francis@email.com</td>
    
    <td class="govuk-table__cell">
      <strong class="govuk-tag"
        style="background-color:#1d70b8; color:#ffffff; font-weight:700;">
        SIGNED
      </strong>
    </td>
  </tr>

  <tr class="govuk-table__row">
    <td class="govuk-table__cell">
      DOE, Jane<br>
      <span class="govuk-hint">on behalf of ACME LTD</span>
    </td>
    <td class="govuk-table__cell">jane.doe@email.com</td>
    
    <td class="govuk-table__cell">
      <strong class="govuk-tag govuk-tag--grey">
        NOT SIGNED
      </strong>
    </td>
  </tr>
</tbody>
    </table>

  </div>
</div>
{% endblock %}