{% extends "layouts/main.html" %}

{% block pageTitle %}
  Directors must sign – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-m">A MULTI DIRECTOR COMPANY LTD (87654321)</span>
    <h1 class="govuk-heading-l">Email address not authorised to sign</h1>

    <p>
 You need to sign in with the same email address that the person who started the application gave us for you.
 These are the details they gave us:
        <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Name</th>
          <th scope="col" class="govuk-table__header">Email</th>
          
          <th scope="col" class="govuk-table__header">Status</th>
        </tr>
      </thead>
<tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">DOE, Jane</td>
    <td class="govuk-table__cell">janedoe@email.com</td>
    <td class="govuk-table__cell">
     <strong class="govuk-tag govuk-tag--grey">
        Not signed
      </strong>
    </td>
  </tr>

 <tr class="govuk-table__row">
    <td class="govuk-table__cell">FRANCIS, Sara</td>
    <td class="govuk-table__cell">francis_s@email.com</td>
    <td class="govuk-table__cell">
       <strong class="govuk-tag"
        style="background-color:#1d70b8; color:#ffffff; font-weight:700;">
        Signed
      </strong>
    </td>
  </tr>

 <tr class="govuk-table__row">
    <td class="govuk-table__cell">SHIPLEY, James</td>
    <td class="govuk-table__cell">jamesshipley@email.co.uk</td>
    <td class="govuk-table__cell">
       <strong class="govuk-tag"
        style="background-color:#1d70b8; color:#ffffff; font-weight:700;">
        Signed
      </strong>
    </td>
  </tr>

  <tr class="govuk-table__row">
    <td class="govuk-table__cell">
      John Smith <br>
      <span class="govuk-hint">on behalf of ACME LTD</span>
    </td>
    <td class="govuk-table__cell">john.smith123@email.com</td>
    
    <td class="govuk-table__cell">
       <strong class="govuk-tag"
        style="background-color:#1d70b8; color:#ffffff; font-weight:700;">
        Signed
      </strong>
    </td>
  </tr>
</tbody>
    </table>

  <h2 class="govuk-heading-m">If your email address is shown on this page</h2>

    <p><a href="#" class="govuk-link">Sign in to this service again</a>, using this email address. You can create a GOV.UK One Login with this email address if you do not already have one.</p>

    <p>Make sure you type the email address exactly as it appears here. For example, use capital letters or lowercase.
    

  <h2 class="govuk-heading-m">If your email address is not shown on this page</h2>

<p> Ask the person who started the application to sign in to this service and correct your details.</p>




  </div>
</div>
{% endblock %}