<div class="govuk-width-container">

<p class="govuk-!-padding-top-4 govuk-!-font-size-19 govuk-!-font-weight-bold">An application to strike off and dissolve a company has been submitted</p>

<table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header govuk-!-font-size-16 govuk-!-font-weight-regular">
<span class="govuk-!-font-weight-bold">From:</span> Companies House  &lt;noreply@companieshouse.gov.uk&gt;</th>
      <td class="govuk-table__cell govuk-!-font-size-16 govuk-!-font-weight-regular">{{todayHtml}}</td>
    </tr>
    <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-size-16 govuk-!-font-weight-regular"><span class="govuk-!-font-weight-bold">To:</span> Me</th>
      <td class="govuk-table__cell">&#128424; &nbsp;&nbsp; &#8617;&nbsp;&nbsp; &#11088; &nbsp;&nbsp; &#128578; &nbsp;&nbsp; &#128465;</td>
    </tr>
  </tbody>
</table>
</div>