{% extends "layouts/main.html" %}

{% set pageName="Home" %}
<!-- Hide service navigation-->
{% block header %}
{{ govukHeader({
  rebrand: true
}) }}
{% endblock %} 
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
{% set html %}
  <p class="govuk-notification-banner__heading">
    This version of the prototype is being actively worked on - 
    some things might not work correctly or change very quickly. 
    If you have any questions, contact Sara Shipley or Sophie Horton.
    
  </p>

{% endset %}

{{ govukNotificationBanner({
  html: html
}) }}

<span class="govuk-caption-xl">Version 8</span>
<h1 class="govuk-heading-xl">
  {{ serviceName }}
</h1>

<div class="govuk-inset-text">
 Corporate director route removed for user testing. See V5 for this route.
</div>


<p>
  <a href="https://app.mural.co/t/companieshouse8589/m/companieshouse8589/1774276339388/c3e156e3b5cd0e16147cb7b7995a817ccca890d8"
     class="govuk-link"
     rel="noreferrer noopener"
     target="_blank">
    Link to Mural (opens in new tab)
  </a>
</p>

</div>
</div>


<h2 class="govuk-heading-m">Pre-submission screens</h2>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="/V8/start.html" class="govuk-link">Start page</a>  {%- from "govuk/components/tag/macro.njk" import govukTag -%}
  {{ govukTag({
    text: "Dev ready",
    classes: "govuk-!-margin-left-2 govuk-tag--green"
  }) }}Content updated 13 July, need to raise a ticket</li>
  <li><a href="/V8/who-to-tell.html" class="govuk-link">Who to tell about the company being dissolved (closed)</a>  {{ govukTag({
    text: "In progress",
    classes: "govuk-!-margin-left-2 govuk-tag--yellow"
  }) }}</li>
  <li><a href="/V8/stop-screen-bank-account.html" class="govuk-link">Access to company bank accounts and other assets</a>  {%- from "govuk/components/tag/macro.njk" import govukTag -%}
  {{ govukTag({
    text: "Dev ready",
    classes: "govuk-!-margin-left-2 govuk-tag--green"
  }) }}Content updated 13 July, need to raise a ticket</li>
</ul>

  <h3 class="govuk-heading-s govuk-!-margin-top-5"> GOV.UK One Login screens {%- from "govuk/components/tag/macro.njk" import govukTag -%}
  {{govukTag({
    text: "Not for dev",
    classes: "govuk-!-margin-left-2 govuk-tag--pink"
  }) }}</h3>
  <ul class="govuk-list govuk-list--bullet">
  <li><a href="/V8/sign-in-to-ch.html" class="govuk-link">Sign in to Companies House</a></li>
  <li><a href="/V8/gov-one-log-in.html" class="govuk-link">Create your GOV.UK One Login or sign in</a></li>
  <li><a href="/V8/sign-in.html" class="govuk-link">Enter your email address to sign in to your GOV.UK One Login</a></li>
  <li><a href="/V8/enter-password.html" class="govuk-link">Enter your password</a></li>
  <li><a href="/V8/check-your-phone.html" class="govuk-link">Check your phone</a></li>
</ul>

    <h3 class="govuk-heading-s"> Company details</h3> 
<ul class="govuk-list govuk-list--bullet">
  <li><a href="/V8/company-number.html" class="govuk-link">What is the company number?</a>  {%- from "govuk/components/tag/macro.njk" import govukTag -%}
  {{ govukTag({
    text: "Live",
    classes: "govuk-!-margin-left-2 govuk-tag--turquoise"
  }) }}</li>
  <li><a href="/V8/view-company-info.html" class="govuk-link">View company information</a> {%- from "govuk/components/tag/macro.njk" import govukTag -%}
  {{ govukTag({
    text: "In progress",
    classes: "govuk-!-margin-left-2 govuk-tag--yellow"
  }) }}</li>
  <li><a href="/V8/company-authentication.html" class="govuk-link">Enter the company authentication code</a>{%- from "govuk/components/tag/macro.njk" import govukTag -%}
  {{ govukTag({
    text: "Not for dev",
    classes: "govuk-!-margin-left-2 govuk-tag--pink"
  }) }} </li>
  <li><a href="/V8/which-director-are-you.html" class="govuk-link">Which director are you?</a>{{ govukTag({
    text: "Dev ready",
    classes: "govuk-!-margin-left-2 govuk-tag--green"
  }) }}Handed over to dev</li>
 <li><a href="/V8/which-directors-will-be-signing.html" class="govuk-link">Which other directors will sign the application? (multi director company)</a> {%- from "govuk/components/tag/macro.njk" import govukTag -%}
  {{ govukTag({
    text: "In progress",
    classes: "govuk-!-margin-left-2 govuk-tag--yellow"
  }) }}Content updated 1 July, need to raise a ticket</li>

  <li><a href="/V8/provide-corporate-directors-emails.html" class="govuk-link">What are the email addresses for each director?</a>{{ govukTag({
    text: "Dev ready",
    classes: "govuk-!-margin-left-2 govuk-tag--green"
  }) }}<a class ="govuk-link" href="https://companieshouse.atlassian.net/browse/FS-412" target="_blank"> FS-412</a></li>
  <li><a href="/V8/check-your-answers-single-director-acsp.html" class="govuk-link">Check your answers (single director company)</a>{{ govukTag({
    text: "Needs updating",
    classes: "govuk-!-margin-left-2 govuk-tag--purple"
  }) }}</li>

<li>
  <a href="/V8/check-your-answers-multi-directors.html" class="govuk-link">
    Check your answers (multi director company)
  </a>
  {%- from "govuk/components/tag/macro.njk" import govukTag -%}
  {{ govukTag({
    text: "In progress",
    classes: "govuk-!-margin-left-2 govuk-tag--yellow"
  }) }}
</li>
  <li><a href="/V8/change-directors-email.html" class="govuk-link">Change directors' email addresses</a>    {{ govukTag({
    text: "In progress",
    classes: "govuk-!-margin-left-2 govuk-tag--yellow"
  }) }}<a class ="govuk-link" href="https://companieshouse.atlassian.net/browse/FS-413" target="_blank"> FS-413</a></li>

</ul>


    <h3 class="govuk-heading-s"> Signing screens</h3> 
 
<ul class="govuk-list govuk-list--bullet">

  <li><a href="/V8/sign-the-application.html" class="govuk-link">Sign the application</a>{{ govukTag({
    text: "In progress",
    classes: "govuk-!-margin-left-2 govuk-tag--yellow"
  }) }}Awaiting content decision before raising ticket</li>
    <li><a href="/V8/sign-the-application-corporate-director.html" class="govuk-link">Sign the application (corporate director)</a>{{ govukTag({
    text: "Needs updating",
    classes: "govuk-!-margin-left-2 govuk-tag--purple"
  }) }}Awaiting content decision before raising ticket</li>

  <li>
    <a href="/V8/wait-screen-other-directors-must-sign-multi-director.html" class="govuk-link">
      Application signed (multi director company)
    </a>
    {{ govukTag({
    text: "Needs updating",
    classes: "govuk-!-margin-left-2 govuk-tag--purple"
  }) }}</li>
  </li>
  

</ul>
 
  <h3 class="govuk-heading-s govuk-!-margin-top-5">Download PDF copy of the application {{ govukTag({
    text: "Needs updating",
    classes: "govuk-!-margin-left-2 govuk-tag--purple"
  }) }}</h3> 

 <ul class="govuk-list govuk-list--bullet">

    <li>
    <a href="/V8/email-application-accepted-single.html" class="govuk-link">Accepted email- SINGLE DIRECTOR</a>
 </li>
  <li>
    <a href="/V8/email-application-accepted.html" class="govuk-link">Accepted email- MULTI DIRECTOR</a>
    </li>
    <li>
    <a href="/V8/view-company-info-pdf.html" class="govuk-link">View company info PDF Link</a>
  </li>
  <li><a href="/V8/pdf-mock-up.html" class="govuk-link">PDF Mock Up -Application Received</a>  {%- from "govuk/components/tag/macro.njk" import govukTag -%}
  {{ govukTag({
    text: "For testing",
    classes: "govuk-!-margin-left-2 govuk-tag--yellow"
  }) }}</li>

</ul>

<h2 class="govuk-heading-m govuk-!-margin-top-9">Payment and application submission</h2>
<ul class="govuk-list govuk-list--bullet">
  <li>
    <a href="/V8/how-do-you-want-to-pay.html" class="govuk-link">How do you want to pay for the application?</a>{{ govukTag({
    text: "Not for dev",
    classes: "govuk-!-margin-left-2 govuk-tag--pink"
  }) }}Common component</li>

    <li><a href="/V8/ch-pay.html" class="govuk-link">Enter your details to pay by account</a>{{ govukTag({
    text: "Not for dev",
    classes: "govuk-!-margin-left-2 govuk-tag--pink"
  }) }}Common component</li>
  <li><a href="/V8/review-your-payment.html" class="govuk-link">Review your payment</a>{{ govukTag({
    text: "Not for dev",
    classes: "govuk-!-margin-left-2 govuk-tag--pink"
  }) }}Common component</li>
  <li>
    <a href="https://products.payments.service.gov.uk/pay/aa2f2fa3be904b93887d8bef7b4909ab" class="govuk-link">
      Payment on GOV Pay prototype
    </a> (use card number 4000056655665556) {{ govukTag({
    text: "Not for dev",
    classes: "govuk-!-margin-left-2 govuk-tag--pink"
    }) }}</li>
  </li>
  <li><a href="/V8/application-received.html" class="govuk-link">Application submitted</a>{{ govukTag({
    text: "Needs updating",
    classes: "govuk-!-margin-left-2 govuk-tag--purple"
  }) }}</li>
  <li><a href="/V8/application-received-paper.html" class="govuk-link">Application submitted (paper)</a>{{ govukTag({
    text: "Needs updating",
    classes: "govuk-!-margin-left-2 govuk-tag--purple"
  }) }}</li>
<li><a href="/V8/bi-email-mock.html" class="govuk-link">BI-14673 Email-Application Received</a></li>
<li><a href="/V8/email-application-accepted.html" class="govuk-link">Application accepted (Email)</a>  {%- from "govuk/components/tag/macro.njk" import govukTag -%}
  {{ govukTag({
    text: "IN PROGRESS",
    classes: "govuk-!-margin-left-2 govuk-tag--red"
  }) }}</li>


</ul>




<h3 class="govuk-heading-s">Non applicant signers</h3>

<ul class="govuk-list govuk-list--bullet">

  <li>
    <a href="/V8/email-sign-the-application.html" class="govuk-link">
      Sign the application to strike off and dissolve a company (Email)
    </a>
    {{ govukTag({
      text: "Needs updating",
      classes: "govuk-!-margin-left-2 govuk-tag--purple"
    }) }}
  </li>

  <li>
    <a href="/V8/provide-single-director-email.html" class="govuk-link">
      Provide Single Director's email address

    </a>
    {{ govukTag({
      text: "IN PROGRESS",
      classes: "govuk-!-margin-left-2 govuk-tag--red"
    }) }}
  </li>

  <li>
    <a href="/V8/wait-screen-other-signer-single-director.html" class="govuk-link">
      Application signed (acsp - single director company)
    </a> {{ govukTag({
      text: "Needs updating",
      classes: "govuk-!-margin-left-2 govuk-tag--purple"
    }) }}
  </li>

  <li>
    <a href="/V8/wait-screen-other-signers-multi-directors.html" class="govuk-link">
      Application signed (multi director company)
    </a> {{ govukTag({
      text: "Needs updating",
      classes: "govuk-!-margin-left-2 govuk-tag--purple"
    }) }}
  </li>




</ul>
</div>






  <h3 class="govuk-heading-s" style="margin-top: 20px;">Application status</h3>

<ul class="govuk-list govuk-list--bullet">
  
  <li><a href="/V8/test-sign-journey.html" class="govuk-link">Application started</a></li>
  <li><a href="/V8/test-sign-journey-submit-button.html" class="govuk-link">Application started (with submit button)</a>{{ govukTag({
    text: "In progress",
    classes: "govuk-!-margin-left-2 govuk-tag--red"
  }) }}Looking at button placement</li>
  <li><a href="/V8/wait-screen-other-signers-multi-directors" class="govuk-link">Application signed</a></li>

  <li><a href="/V8/ds-hub-accepted.html" class="govuk-link">Application accepted</a></li>
  <li><a href="/V8/delete-confirmation.html" class="govuk-link">Are you sure you want to delete this application?</a></li>
  <li><a href="/V8/application-deleted.html" class="govuk-link">Application deleted</a></li>
  <li><a href="/V8/test-sign-journey-acsp.html" class="govuk-link">Application in progress (ACSP)</a>{{ govukTag({
    text: "Needs updating",
    classes: "govuk-!-margin-left-2 govuk-tag--purple"
  }) }}</li>
</ul>

   <h3 class="govuk-heading-s" style="margin-top: 20px;">Stop screens</h3>
   <ul class="govuk-list govuk-list--bullet">
  <li><a href="/V8/stop-application-in-progress.html" class="govuk-link">An application to dissolve (close) this company was submitted on 14 July 2026</a></li>
  <li><a href="/V8/stop-application-in-progress-paper.html" class="govuk-link">An application has been submitted on paper to dissolve (close) this company</a></li>
  <li><a href="/V8/stop-too-many-directors.html" class="govuk-link">You’ll need to apply using a paper form (DS01)</a></li>
  <li><a href="/V8/stop-too-many-members.html" class="govuk-link">You’ll need to apply using a paper form (DS01) LLP version</a></li>
<li><a href="/V8/stop-someone-is-paying.html" class="govuk-link">You cannot delete this application at the moment</a>{{ govukTag({ 
  text: "Needs updating",
  classes: "govuk-!-margin-left-2 govuk-tag--purple"
}) }}</li>
  <li><a href="/V8/confirm-who-you-are.html" class="govuk-link">Confirm you are director</a> {{ govukTag({
    text: "In progress",
    classes: "govuk-!-margin-left-2 govuk-tag--red"
  }) }}We don't know if we'll be using this screen yet</li>
  </ul>
</div>

</div>
{% endblock %}