//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

.govuk-header {
  border-bottom: 10px solid #1d70b8;  // Temp fix for header border
}

.gov-one-login-password-input {
  background-color: white !important;
}

// This makes ALL links with a class of govuk-link show as unvisited (ie blue instead of purple)
.govuk-link:visited {
    color: #1d70b8 !important;
}


// UR shortcuts - not part of actual service

.ur-shortcuts {
  margin-top: 3em;
  p, ul, li, a, .govuk-label {
    color: #b1b4b6  !important;
    font-size: 19px !important;
  }
}

// Styles for email template

.email-template {
  background-color: govuk-colour("light-grey");
}
.email-template-container {
  background-color: govuk-colour("white");
  padding: 0 2em 2em;
}
body.email-template .govuk-width-container {
  background-color: govuk-colour("white");
  padding: 0 2em 
}
body.email-template .govuk-width-container header {
  margin:0 -2em 0 -2em;
}
body.email-template .govuk-width-container .govuk-header__logo {
  padding-left:4em;
}
.email-header {
  padding: 0 2em;
}