//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

.govuk-header {
  border-bottom: 10px solid #1d70b8;  // Temp fix for header border
}

.gov-one-login-password-input {
  background-color: white !important;
}

// This makes ALL links show as unvisited (ie blue instead of purple)
.govuk-link:visited {
    color: #1d70b8 !important;
}