{% extends "layouts/main.html" %}

{% block pageTitle %}
  Company authentication – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner govuk-width-container">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.
      </span>
    </p>
  </div>

  <!-- Right-aligned sign out with top and bottom borders -->
<div class="govuk-width-container" style="border-top: 0; border-bottom: 1px solid #b1b4b6; margin-bottom: 10px; padding: 10px 0; text-align: right;">
  <span class="govuk-body-s">
    SFrancis@email.co.uk</strong>  
    <a class="govuk-link" href="/v6/sign-in-to-ch-or-one-login" style="margin-left: 10px;">Sign out</a>
  </span>
</div>
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Enter the company authentication code
      </h1>

      <form class="form" action="/V6/company-authentication" method="post">
       



      

      {{ govukInput({
  id: "auth-code",
  name: "authCode",
  classes: "govuk-input--width-10",
  label: {
    text: "Authentication code",
    classes: "govuk-visually-hidden"
  },
  hint: {
    text: "This is a 6 character code issued by us to each company."
  }
}) }}

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      I do not have an authentication code
    </span>
  </summary>
  <div class="govuk-details__text">
    You'll need to <a href="#" class="govuk-link">request an authentication code</a>. It is sent by post.
  </div>
</details>


{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{{ govukCheckboxes({
  items: [
    {
      value: "saveTheCompanyDetails",
      text: "Save the company details",
      hint: {
        text: "If you save the details, we'll add the company to your account. You will not need to re-enter the authentication code for most online filings. You'll also be able to digitally authorise other people to file online for this company."
      }
    }
  ]
}) }}

        {{ govukButton({
          text: "Continue"    
          }) }}
 
           </form>
    </div>
  </div>
{% endblock %}

