{% extends "layouts/main.html" %}
{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Apply to strike off and dissolve a company",
    serviceUrl: "#"
  }) }}

  <div class="govuk-phase-banner govuk-width-container">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.
      </span>
    </p>
  </div>

  <!-- Right-aligned sign out with top and bottom borders -->
<div class="govuk-width-container" style="border-top: 0; border-bottom: 1px solid #b1b4b6; margin-bottom: 10px; padding: 10px 0; text-align: right;">
  <span class="govuk-body-s">
    SFrancis@email.co.uk</strong>  
    <a class="govuk-link" href="/v6/sign-in-to-ch-or-one-login" style="margin-left: 10px;">Sign out</a>
  </span>
</div>
{% endblock %}


{% block pageTitle %}
  Directors must sign – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-m">A MULTI DIRECTOR COMPANY LTD (87654321)</span>
    <h1 class="govuk-heading-l">Email address does not match our records</h1>

    <p>
You've signed in with the email address <strong>SFrancis@email.co.uk</strong>. This does not match the director email addresses in our records.

  <p class="govuk-body">Ways to solve this problem:</p>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
  <li>
    sign out and then sign in again, using the email address that matches our records
  </li>
  <li>
    type the email address exactly as it appears here – for example, use capital letters or lowercase
  </li>
  <li>
    ask the person who started the application to sign in to this service and correct your details if they are incorrect
  </li>
</ul>

<h2 class="govuk-heading-m">Director email addresses</h2>
<p>The person who started the application gave us these email addresses:
        <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Name</th>
          <th scope="col" class="govuk-table__header">Email</th>
        </tr>
      </thead>
<tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">DOE, Jane</td>
    <td class="govuk-table__cell">janedoe@email.com</td>
    
    </td>
  </tr>

 <tr class="govuk-table__row">
    <td class="govuk-table__cell">FRANCIS, Sara</td>
    <td class="govuk-table__cell">francis_s@email.com</td>
   
    </td>
  </tr>

 <tr class="govuk-table__row">
    <td class="govuk-table__cell">SHIPLEY, James</td>
    <td class="govuk-table__cell">jamesshipley@email.co.uk</td>
    
    </td>
  </tr>

  
    
    </td>
  </tr>
</tbody>
    </table>

  </div>
</div>
{% endblock %}