{% extends "layouts/main.html" %}

{% block pageTitle %}
  Application signed – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- Custom Blue Box -->
    <div style="background-color: #005EA5; color: white; padding: 30px 20px; margin-bottom: 30px; width: 100%; text-align: center;">
      <h1 class="govuk-heading-l" style="margin: 0 auto; color: white;">
        Application signed <br>
      </h1>
      <p><p class="govuk-body-l" style="margin: 0 auto; color: white;">
        The person who started the application should tell you when they have submitted it
      </p>
    </div>


    <p>We need to receive signatures from all signing directors. The person making the application can then pay for and submit it.
      
    <p>It may take some time for others to sign. You can check who has signed on this page.</p>
    
   <h2 class="govuk-heading-m">Directors must inform all interested parties</h2>
       <p class="govuk-body">The directors must send a copy of this application to all interested parties within 7 days of making the application.
      <p>When the person who started the application has submitted it, you'll be able to download a copy by signing back in to the <a href="https://find-and-update.company-information.service.gov.uk/close-a-company/" class="govuk-link">Apply to strike off and dissolve a company service</a>. Once we've accepted the application, we'll also publish a copy on the <a href="https://find-and-update.company-information.service.gov.uk/" class="govuk-link">Companies House public register</a>. This could take up to 2 working days from when it's submitted.
</p>


    <p class="govuk-body">
    <span style="color: black;">Read the</span>
      <a href="https://www.gov.uk/strike-off-your-company-from-companies-register/close-down-your-company" 
     target="_blank" 
     rel="noopener noreferrer">
    full list of interested parties you must tell about the company closing (opens in a new tab).
  </a>
    </p>

   <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-visually-hidden">Warning</span>
    It is a criminal offence not to tell all interested parties that an application has been made to close a company.
  </strong>
</div>
    


    <h2 class="govuk-heading-m">Application status</h2>

    <p>Refresh the page to see updated information. If you exit this page, you can return to it by signing back in to the 
      <a class="govuk-link" href="#">Apply to strike off and dissolve a company service</a>.
    </p>

  </div>
</div>

   <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Name</th>
          <th scope="col" class="govuk-table__header">Email</th>
          <th scope="col" class="govuk-table__header">Change</th>
          <th scope="col" class="govuk-table__header">Resend</th>
          <th scope="col" class="govuk-table__header">Signed</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{ data['signingPersonName'] or "DOE, Jane" }}</td>
          <td class="govuk-table__cell">{{ data['directorEmail'] or data['signingPersonEmail'] or "jane.doe@company.co.uk" }}</td>
          <td class="govuk-table__cell"><a class="govuk-link" href="#">Change</a></td>
          <td class="govuk-table__cell"><a class="govuk-link" href="#">Resend email</a></td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">SIGNED</strong></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{ data['signingPersonName'] or "FRANCIS, Sara" }}</td>
          <td class="govuk-table__cell">{{ data['directorEmail'] or data['signingPersonEmail'] or "francis.sara@company.co.uk" }}</td>
          <td class="govuk-table__cell"><a class="govuk-link" href="#">Change</a></td>
          <td class="govuk-table__cell"><a class="govuk-link" href="#">Resend email</a></td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">SIGNED</strong></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{ data['signingPersonName'] or "SHIPLEY, James" }}</td>
          <td class="govuk-table__cell">{{ data['directorEmail'] or data['signingPersonEmail'] or "shipley.james@company.co.uk" }}</td>
          <td class="govuk-table__cell"><a class="govuk-link" href="#">Change</a></td>
          <td class="govuk-table__cell"><a class="govuk-link" href="#">Resend email</a></td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">SIGNED</strong></td>
        </tr>
      </tbody>
    </table>


  
{% endblock %}
