{% extends "layouts/main.html" %}

{% block pageTitle %}
  Application signed – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<!--<p class="govuk-body govuk">
  A MULTI DIRECTOR COMPANY LTD (87654321)
</p>-->
    <!-- Custom Blue Box -->
    <div style="background-color: #005EA5; color: white; padding: 30px 20px; margin-bottom: 30px; width: 100%; text-align: center;">
      <h1 class="govuk-heading-l" style="margin: 0 auto; color: white;">
        Application signed <br>
      </h1>
      <p class="govuk-body-l" style="margin: 0 auto; color: white;">
You've signed the application to strike off and dissolve this company
      </p>
    </div>

{{ govukSummaryList({
      rows: [
        {
          key: { text: "Company number" },
          value: { text: data['companyNumber'] or "09429091" }
        },
        {
          key: { text: "Company name" },
          value: {
            text:
              "Single Director Company Ltd"
              if data['companyNumber'] == "12345678"
              else "A MULTI DIRECTOR COMPANY LTD"
          }
        },
        {
          key: { text: "Director" },
          value: { text: "ADAMS, Ella" }
        }
      ]
    }) }}


    <p class="govuk-body">
      Each signing director needs to log in to this service and sign the application. Once all directors have signed, <b>lisa.humphreys@accountancyfirm.co.uk</b> can log back in, pay the £13 fee and submit the application.

     <p> <a href="/V6/test-sign-journey-ella-signed" class="govuk-link">See which directors have signed so far</a> on the Application in progress page. You'll see that page again if you log back into the service later.

{# STATUS TABLE PARKED FOR NOW - NOT SURE IF WE NEED IT 

    <h2 class="govuk-heading-m">Application status</h2>

    <p class="govuk-body">
      Refresh the page to see updated information. If you exit this page, you can return to it by signing back in to the service.
    </p>

  </div>
</div>


<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Name</th>
      <th scope="col" class="govuk-table__header">Email</th>
      <th scope="col" class="govuk-table__header">Status</th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">{{ data['signingPersonName'] or "DOE, Jane" }}</td>
      <td class="govuk-table__cell">{{ data['directorEmail'] or data['signingPersonEmail'] or "jane.doe@company.co.uk" }}</td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--blue">SIGNED</strong>
      </td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">{{ data['signingPersonName'] or "FRANCIS, Sara" }}</td>
      <td class="govuk-table__cell">{{ data['directorEmail'] or data['signingPersonEmail'] or "francis.sara@company.co.uk" }}</td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--blue">SIGNED</strong>
      </td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">{{ data['signingPersonName'] or "SHIPLEY, James" }}</td>
      <td class="govuk-table__cell">{{ data['directorEmail'] or data['signingPersonEmail'] or "shipley.james@company.co.uk" }}</td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--blue">SIGNED</strong>
      </td>
    </tr>
  </tbody>
</table>
#}

{% endblock %}