{% extends "layouts/main.html" %}

{% block pageTitle %}
  Which director are you? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% from "govuk/components/button/macro.njk" import govukButton %}

    <form method="post" action="/V5/which-director-are-you">

      {% if (data['companyNumber'] == "12345678") %}

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Which director are you?
              </h1>
            </legend>

            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whichDirectorAreYou" name="whichDirectorAreYou" type="radio" value="iAmNotADirectorOfThisCompany">
                <label class="govuk-label govuk-radios__label" for="whichDirectorAreYou">
                  I am not a director of this company
                </label>
              </div>

              <div class="govuk-radios__divider">or</div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whichDirectorAreYou-2" name="whichDirectorAreYou" type="radio" value="JaneDoe_1980_04_12">
                <label class="govuk-label govuk-radios__label" for="whichDirectorAreYou-2">
                  Jane Doe
                </label>
                <div class="govuk-hint govuk-radios__hint">
                  Date of birth: 12 April 1980
                </div>
              </div>
            </div>
          </fieldset>
        </div>

      {% else %}

        {% set directorItems = [
          { value: "EllaAdams_1988_05_31", text: "ADAMS, Ella", dob: "31 May 1988" },
          { value: "AriaAlexander_1994_01_21", text: "ALEXANDER, Aria", dob: "21 January 1994" },
          { value: "HarryBaker_1989_06_12", text: "BAKER, Harry", dob: "12 June 1989" },
          { value: "RosieBailey_1983_01_12", text: "BAILEY, Rosie", dob: "12 January 1983" },
          { value: "AlfieBarnes_1977_08_13", text: "BARNES, Alfie", dob: "13 August 1977" },
          { value: "LoganBennett_1975_06_21", text: "BENNETT, Logan", dob: "21 June 1975" },
          { value: "RubyBell_1981_11_20", text: "BELL, Ruby", dob: "20 November 1981" },
          { value: "MichaelBrown_1977_06_30", text: "BROWN, Michael", dob: "30 June 1977" },
          { value: "ArthurBrooks_1971_02_05", text: "BROOKS, Arthur", dob: "5 February 1971" },
          { value: "DavidButler_1989_08_25", text: "BUTLER, David", dob: "25 August 1989" },
          { value: "IslaCampbell_1994_11_06", text: "CAMPBELL, Isla", dob: "6 November 1994" },
          { value: "ThomasCarter_1991_08_05", text: "CARTER, Thomas", dob: "5 August 1991" },
          { value: "PoppyCollins_1973_03_21", text: "COLLINS, Poppy", dob: "21 March 1973" },
          { value: "EvaColeman_1980_11_17", text: "COLEMAN, Eva", dob: "17 November 1980" },
          { value: "IvyCooper_1985_03_06", text: "COOPER, Ivy", dob: "6 March 1985" },
          { value: "JessicaCook_1979_09_27", text: "COOK, Jessica", dob: "27 September 1979" },
          { value: "ChloeRoberts_1982_11_26", text: "ROBERTS, Chloe", dob: "26 November 1982" },
          { value: "TylerCruz_1991_11_21", text: "CRUZ, Tyler", dob: "21 November 1991" },
          { value: "SebastianDiaz_1972_04_23", text: "DIAZ, Sebastian", dob: "23 April 1972" },
          { value: "JaneDoe_1973_02_14", text: "DOE, Jane", dob: "14 February 1973" },
          { value: "HenryEdwards_1972_02_10", text: "EDWARDS, Henry", dob: "10 February 1972" },
          { value: "MuhammadEllis_1987_07_06", text: "ELLIS, Muhammad", dob: "6 July 1987" },
          { value: "SophiaEvans_1980_09_04", text: "EVANS, Sophia", dob: "4 September 1980" },
          { value: "GeorgiaFisher_1986_06_25", text: "FISHER, Georgia", dob: "25 June 1986" },
          { value: "JosephFlores_1987_06_03", text: "FLORES, Joseph", dob: "3 June 1987" },
          { value: "PenelopeFord_1975_07_26", text: "FORD, Penelope", dob: "26 July 1975" },
          { value: "LeahFreeman_1971_04_18", text: "FREEMAN, Leah", dob: "18 April 1971" },
          { value: "SaraFrancis_1974_03_25", text: "FRANCIS, Sara", dob: "25 March 1974" },
          { value: "EmmaGonzales_1992_11_29", text: "GONZALES, Emma", dob: "29 November 1992" },
          { value: "JasmineGomez_1994_02_24", text: "GOMEZ, Jasmine", dob: "24 February 1994" },
          { value: "MollyGraham_1977_09_18", text: "GRAHAM, Molly", dob: "18 September 1977" },
          { value: "LucasGray_1992_10_22", text: "GRAY, Lucas", dob: "22 October 1992" },
          { value: "LilyGreen_1986_03_09", text: "GREEN, Lily", dob: "9 March 1986" },
          { value: "EsmeGriffin_1971_03_12", text: "GRIFFIN, Esme", dob: "12 March 1971" },
          { value: "AlexHamilton_1976_08_07", text: "HAMILTON, Alex", dob: "7 August 1976" },
          { value: "JackHall_1987_04_20", text: "HALL, Jack", dob: "20 April 1987" },
          { value: "SummerHarrison_1988_08_17", text: "HARRISON, Summer", dob: "17 August 1988" },
          { value: "VioletHayes_1973_05_04", text: "HAYES, Violet", dob: "4 May 1973" },
          { value: "RyanHenderson_1979_10_06", text: "HENDERSON, Ryan", dob: "6 October 1979" },
          { value: "BellaHughes_1986_05_22", text: "HUGHES, Bella", dob: "22 May 1986" },
          { value: "MasonHunter_1978_11_04", text: "HUNTER, Mason", dob: "4 November 1978" },
          { value: "ArchieHoward_1988_06_08", text: "HOWARD, Archie", dob: "8 June 1988" },
          { value: "AubreyHicks_1979_12_15", text: "HICKS, Aubrey", dob: "15 December 1979" },
          { value: "BenjaminJohnson_1983_12_08", text: "JOHNSON, Benjamin", dob: "8 December 1983" },
          { value: "LukeJordan_1983_03_22", text: "JORDAN, Luke", dob: "22 March 1983" },
          { value: "MaxJames_1994_12_14", text: "JAMES, Max", dob: "14 December 1994" },
          { value: "AdamJenkins_1981_12_28", text: "JENKINS, Adam", dob: "28 December 1981" },
          { value: "MillieKelly_1972_03_18", text: "KELLY, Millie", dob: "18 March 1972" },
          { value: "LaylaLong_1984_03_31", text: "LONG, Layla", dob: "31 March 1984" },
          { value: "ClaraMcdonald_1990_10_10", text: "MCDONALD, Clara", dob: "10 October 1990" },
          { value: "NoraMarshall_1992_12_02", text: "MARSHALL, Nora", dob: "2 December 1992" },
          { value: "MiaMitchell_1992_09_16", text: "MITCHELL, Mia", dob: "16 September 1992" },
          { value: "JoshuaMorgan_1980_10_09", text: "MORGAN, Joshua", dob: "9 October 1980" },
          { value: "FreddieMorris_1976_06_24", text: "MORRIS, Freddie", dob: "24 June 1976" },
          { value: "BlakeMurray_1995_03_07", text: "MURRAY, Blake", dob: "7 March 1995" },
          { value: "MayaWard_1989_07_19", text: "WARD, Maya", dob: "19 July 1989" },
          { value: "FinnMyers_1974_06_15", text: "MYERS, Finn", dob: "15 June 1974" },
          { value: "AvaNelson_1990_07_23", text: "NELSON, Ava", dob: "23 July 1990" },
          { value: "RoryOrtiz_1993_01_13", text: "ORTIZ, Rory", dob: "13 January 1993" },
          { value: "DaisyOwens_1984_04_03", text: "OWENS, Daisy", dob: "3 April 1984" },
          { value: "AmeliaParker_1971_01_29", text: "PARKER, Amelia", dob: "29 January 1971" },
          { value: "NathanPowell_1983_02_20", text: "POWELL, Nathan", dob: "20 February 1983" },
          { value: "GeorgePerez_1993_10_27", text: "PEREZ, George", dob: "27 October 1993" },
          { value: "AlicePeterson_1991_09_11", text: "PETERSON, Alice", dob: "11 September 1991" },
          { value: "OscarPhillips_1995_12_18", text: "PHILLIPS, Oscar", dob: "18 December 1995" },
          { value: "ElsiePrice_1974_05_10", text: "PRICE, Elsie", dob: "10 May 1974" },
          { value: "HannahRamirez_1993_11_03", text: "RAMIREZ, Hannah", dob: "3 November 1993" },
          { value: "CharlieReed_1978_08_16", text: "REED, Charlie", dob: "16 August 1978" },
          { value: "OwenReynolds_1985_05_14", text: "REYNOLDS, Owen", dob: "14 May 1985" },
          { value: "NoahRichardson_1986_04_17", text: "RICHARDSON, Noah", dob: "17 April 1986" },
          { value: "WilliamRivera_1984_02_23", text: "RIVERA, William", dob: "23 February 1984" },
          { value: "EvieRogers_1977_07_05", text: "ROGERS, Evie", dob: "5 July 1977" },
          { value: "PhoebeRoss_1978_09_24", text: "ROSS, Phoebe", dob: "24 September 1978" },
          { value: "CalebRussell_1995_02_01", text: "RUSSELL, Caleb", dob: "1 February 1995" },
          { value: "SophieSanchez_1975_05_13", text: "SANCHEZ, Sophie", dob: "13 May 1975" },
          { value: "JacobSanders_1973_04_29", text: "SANDERS, Jacob", dob: "29 April 1973" },
          { value: "JamesShipley_1975_04_07", text: "SHIPLEY, James", dob: "7 April 1975" },
          { value: "WillowSimmons_1990_09_07", text: "SIMMONS, Willow", dob: "7 September 1990" },
          { value: "ZacharySimpson_1974_07_21", text: "SIMPSON, Zachary", dob: "21 July 1974" },
          { value: "AlexSmith_1972_01_03", text: "SMITH, Alex", dob: "3 January 1972" },
          { value: "AlexSmith_1980_12_20", text: "SMITH, Alex", dob: "20 December 1980" },
          { value: "ElizaStevens_1975_08_01", text: "STEVENS, Eliza", dob: "1 August 1975" },
          { value: "LeoStewart_1974_04_02", text: "STEWART, Leo", dob: "2 April 1974" },
          { value: "ReubenSullivan_1978_10_29", text: "SULLIVAN, Reuben", dob: "29 October 1978" },
          { value: "OliviaTaylor_1978_07_11", text: "TAYLOR, Olivia", dob: "11 July 1978" },
          { value: "MatthewThomas_1981_10_15", text: "THOMAS, Matthew", dob: "15 October 1981" },
          { value: "TheoTorres_1990_08_30", text: "TORRES, Theo", dob: "30 August 1990" },
          { value: "EmilyTurner_1976_05_19", text: "TURNER, Emily", dob: "19 May 1976" },
          { value: "JulianTucker_1976_09_12", text: "TUCKER, Julian", dob: "12 September 1976" },
          { value: "GraceWalker_1984_01_17", text: "WALKER, Grace", dob: "17 January 1984" },
          { value: "ErinWallace_1979_11_09", text: "WALLACE, Erin", dob: "9 November 1979" },
          { value: "LunaWashington_1988_07_14", text: "WASHINGTON, Luna", dob: "14 July 1988" },
          { value: "ZoeWatson_1995_01_25", text: "WATSON, Zoe", dob: "25 January 1995" },
          { value: "SiennaWebb_1973_06_10", text: "WEBB, Sienna", dob: "10 June 1973" },
          { value: "ElliotWells_1972_05_29", text: "WELLS, Elliot", dob: "29 May 1972" },
          { value: "ImogenWest_1982_02_11", text: "WEST, Imogen", dob: "11 February 1982" },
          { value: "DanielWilson_1979_08_22", text: "WILSON, Daniel", dob: "22 August 1979" },
          { value: "MatildaWood_1976_07_02", text: "WOOD, Matilda", dob: "2 July 1976" },
          { value: "ConnorWoods_1981_01_31", text: "WOODS, Connor", dob: "31 January 1981" },
          { value: "SamuelWright_1985_02_28", text: "WRIGHT, Samuel", dob: "28 February 1985" }
        ] %}

        {% set sortedDirectors = directorItems | sort(attribute="text") %}

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Which director are you?
              </h1>
            </legend>

            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whichDirectorAreYou" name="whichDirectorAreYou" type="radio" value="iAmNotADirectorOfThisCompany">
                <label class="govuk-label govuk-radios__label" for="whichDirectorAreYou">
                  I am not a director of this company
                </label>
              </div>

              <div class="govuk-radios__divider">or</div>

              {% for director in sortedDirectors %}
                <div class="govuk-radios__item">
                  <input
                    class="govuk-radios__input"
                    id="whichDirectorAreYou-{{ loop.index }}"
                    name="whichDirectorAreYou"
                    type="radio"
                    value="{{ director.value }}"
                  >
                  <label class="govuk-label govuk-radios__label" for="whichDirectorAreYou-{{ loop.index }}">
                    {{ director.text }}
                  </label>
                  <div class="govuk-hint govuk-radios__hint">
                    Date of birth: {{ director.dob }}
                  </div>
                </div>
              {% endfor %}

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whichDirectorAreYou-acme" name="whichDirectorAreYou" type="radio" value="AcmeLtd" data-aria-controls="conditional-whichDirectorAreYou-acme">
                <label class="govuk-label govuk-radios__label" for="whichDirectorAreYou-acme">
                  ACME LTD
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-whichDirectorAreYou-acme">
                <div class="govuk-form-group">
                  <p>You must be authorised by this corporate director to sign the application on its behalf.</p>
                  <label class="govuk-label" for="acmeDirectorName">
                    What is your full name?
                  </label>
                  <input
                    class="govuk-input"
                    id="acmeDirectorName"
                    name="acmeDirectorName"
                    type="text"
                    autocomplete="name"
                  >
                </div>
              </div>
            </div>
          </fieldset>
        </div>

      {% endif %}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}