{% extends "layouts/main.html" %}

{% block pageTitle %}
  Company authentication – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Enter the company authentication code
      </h1>

      <form class="form" action="/V2/company-authentication" method="post">
       



      

      {{ govukInput({
  id: "auth-code",
  name: "authCode",
  classes: "govuk-input--width-10",
  label: {
    text: "Authentication code",
    classes: "govuk-visually-hidden"
  },
  hint: {
    text: "This is a 6 character code issued by us to each company"
  }
}) }}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{{ govukDetails({
  summaryText: "I do not have an authentication code",
  text: "Placeholder text for what to do if the user does not have an authentication code. This could include instructions on how to request a new code or contact support."
}) }}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{{ govukCheckboxes({
  items: [
    {
      value: "saveTheCompanyDetails",
      text: "Save the company details",
      hint: {
        text: "If you save the details, we'll add the company to your account. You will not need to re-enter the authentication code for most online filings. You'll also be able to digitally authorise other people to file online for this company."
      }
    }
  ]
}) }}

        {{ govukButton({
          text: "Authenticate"    
          }) }}
 
           </form>
    </div>
  </div>
{% endblock %}

