{% extends "layouts/main-old-branding.html" %}

{% block pageTitle %}
  How will the single director be signing – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <form action="/V2/how-will-the-single-director-be-signing" method="post">

        <h1 class="govuk-heading-xl">
          How will the director be signing the application?
        </h1>

        {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {% from "govuk/components/input/macro.njk" import govukInput %}
        {% from "govuk/components/hint/macro.njk" import govukHint %}

        {{ govukWarningText({
          text: "Anyone who signs for a director or member must have power of attorney for them. If this is not the case, the application may be rejected.",
          iconFallbackText: "Warning"
        }) }}

        {{ govukRadios({
          idPrefix: "signingOption",
          name: "signingOption",
          fieldset: {
            legend: {
              text: "DOE, Jane",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "willSign",
              text: "Will sign",
              conditional: {
                html:
                  govukInput({
                    label: {
                      text: "What is the email address for DOE, Jane?"
                    },
                    hint: {
                      text: "We will use this email to ask them to sign the application."
                    },
                    classes: "govuk-input",
                    id: "director-email",
                    name: "directorEmail",
                    type: "email"
                  })
              }
            },
            {
              value: "someoneWillSignForThem",
              text: "Someone will sign for them",
              conditional: {
                html:
                  govukInput({
                    label: {
                      text: "What is the name of the person signing for DOE, Jane?"
                    },
                    classes: "govuk-input",
                    id: "signing-person-name",
                    name: "signingPersonName",
                    type: "text"
                  }) +
                  govukInput({
                    label: {
                      text: "What is the email address of the person signing for DOE, Jane?"
                    },
                    hint: {
                      text: "We will use this email to ask them to sign the application."
                    },
                    classes: "govuk-input",
                    id: "signing-person-email",
                    name: "signingPersonEmail",
                    type: "email"
                  })
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
