{% extends "layouts/main.html" %}

{% block pageTitle %}
  How will the multiple director be signing – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
            <form action="/V2/how-will-the-multi-directors-be-signing" method="post">

      <h1 class="govuk-heading-xl">
        How will the directors be signing the application?
      </h1>

{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{{ govukWarningText({
  text: "Anyone who signs for a director or member must have power of attorney for them. 
  If this is not the case, the application may be rejected.",
  iconFallbackText: "Warning"
}) }}
      

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

<h2 class="govuk-heading-m">DOE, Jane</h2>

{% set director1WillSignHtml %}
  {{ govukInput({
    id: "directorEmail",
    name: "directorEmail",
    type: "email",
    label: {
      text: "What is the email address for DOE, Jane?"
    },
    hint: {
      text: "We will use this email to ask them to sign the application."
    }
  }) }}
{% endset %}

{% set director1ProxyHtml %}
  {{ govukInput({
    id: "director1-proxy-name",
    name: "director1ProxyName",
    label: {
      text: "What is the name of the person signing for DOE, Jane?"
    }
  }) }}



  
  {{ govukInput({
    id: "director1-proxy-email",
    name: "director1ProxyEmail",
    type: "email",
    label: {
      text: "What is the email address of the person signing for DOE, Jane?"
    },
    hint: {
      text: "We will use this email to ask them to sign the application."
    }
  }) }}
{% endset %}

{{ govukRadios({
  name: "director1SignChoice",
  items: [
    {
      value: "will-sign",
      text: "Will sign",
      conditional: {
        html: director1WillSignHtml
      }
    },
    {
      value: "proxy-sign",
      text: "Someone will sign for them",
      conditional: {
        html: director1ProxyHtml
      }
    }
  ]
}) }}

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<h2 class="govuk-heading-m">FRANCIS, Sara</h2>

{% set director2WillSignHtml %}
  {{ govukInput({
    id: "director2-email",
    name: "director2Email",
    type: "email",
    label: {
      text: "What is the email address for FRANCIS, Sara?"
    },
    hint: {
      text: "We will use this email to ask them to sign the application."
    }
  }) }}
{% endset %}

{% set director2ProxyHtml %}
  {{ govukInput({
    id: "director2-proxy-name",
    name: "director2ProxyName",
    label: {
      text: "What is the name of the person signing for FRANCIS, Sara?"
    }
  }) }}
  {{ govukInput({
    id: "director2-proxy-email",
    name: "director2ProxyEmail",
    type: "email",
    label: {
      text: "What is the email address of the person signing for FRANCIS, Sara?"
    },
    hint: {
      text: "We will use this email to ask them to sign the application."
    }
  }) }}
{% endset %}

{{ govukRadios({
  name: "director2SignChoice",
  items: [
    {
      value: "will-sign",
      text: "Will sign",
      conditional: {
        html: director2WillSignHtml
      }
    },
    {
      value: "proxy-sign",
      text: "Someone will sign for them",
      conditional: {
        html: director2ProxyHtml
      }
    }
  ]
}) }}

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue"
}) }}
      </form>

    </div>
  </div>


  
{% endblock %}
