{% extends "layouts/main-old-branding.html" %}

{% block pageTitle %}
 How do you want to pay for the application? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

<form method="post" action="/V2/how-do-you-want-to-pay">

   





{{ govukRadios({
  name: "howDoYouWantToPay",
  fieldset: {
    legend: {
      text: "How do you want to pay for the application?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
        value: "creditOrDebitCard",
        text: "Credit or debit card"
    },

    {
      value: "companiesHouseAccount",
      text: "Companies House account"
    }
  ]
}) }}




{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue"
}) }}
</form>

    </div>
  </div>

{% endblock %}
