{% extends "layouts/main.html" %}

{% set pageName="Home" %}
<!-- Hide service navigation-->
{% block header %}
{{ govukHeader({
  rebrand: true
}) }}
{% endblock %} 
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width">


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
{% set html %}
  <p class="govuk-notification-banner__heading">
    This version of the prototype is being actively worked on - some things might not work correctly and/or change very quickly. If you have any questions contact Sara Shipley or James Francis.
   
  </p>
{% endset %}

{{ govukNotificationBanner({
  html: html
}) }}
<span class="govuk-caption-xl">Version 2</span>
    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

   <p><a href="https://app.mural.co/t/companieshouse8589/m/companieshouse8589/1758698498051/16a68839504ef34543f85303db1fad9e1a194f77" class="govuk-link" rel="noreferrer noopener" target="_blank">Link to Mural (opens in a new tab)</a><p>

  </div>
  </div>


      <div class="govuk-grid-column-one-half">
    

       <h2 class="govuk-heading-m">Presenter/filer</h2>
<ul class="govuk-list govuk-list--bullet">
  <li>
    <a href="/V2/start.html" class="govuk-link">Start page</a>
    </li>
     <li>
    <a href="/V2/who-to-tell.html" class="govuk-link">Who to tell</a>
    </li>
      <li>
    <a href="/V2/stop-screen-bank-account.html" class="govuk-link">Stop screen to confirm company bank account has been cleared</a>
    </li>
      <li>
    <a href="/V2/sign-in-to-ch.html" class="govuk-link">Sign in to CH or GOV One Login</a>
    </li>
    <li>
    <a href="/V2/gov-one-log-in.html" class="govuk-link">Sign in (to GOV One Login)</a>
    </li>
    <li>
    <a href="/V2/sign-in.html" class="govuk-link">Enter GOV One Login email address</a>
    </li>
    <li>
    <a href="/V2/enter-password.html" class="govuk-link">Enter GOV One Login password</a>
    </li>
    <li>
    <a href="/V2/check-your-phone.html" class="govuk-link">Check your phone</a>
    </li>
      <li>
    <a href="/V2/company-number.html" class="govuk-link">Company number</a>
    </li>
       <li>
    <a href="/V2/view-company-info.html" class="govuk-link">View company info</a>
    </li>
       <li>
    <a href="/V2/company-authentication.html" class="govuk-link">Company auth code</a>
    </li>
       <li>
    <a href="/V2/which-director-are-you.html" class="govuk-link">Which director are you?</a>
    </li>
   <li class="govuk-!-margin-top-9">
    <a href="/V2/how-will-the-single-director-be-signing.html" class="govuk-link">How will the director be signing? (single director company)</a>
    </li>
       <li>
    <a href="/V2/check-your-answers-single-director.html" class="govuk-link">Check your answers (single director company)</a>
    </li>
      <li>
    <a href="/V2/sign-the-application.html" class="govuk-link">Sign the application</a>
    </li>
        <li>
    <a href="/V2/wait-screen-other-director-must-sign-single-director.html" class="govuk-link">'Wait' screen - other director must sign (single director company)</a>
    </li>
   <li class="govuk-!-margin-top-9">
    <a href="/V2/which-directors-will-be-signing.html" class="govuk-link">Which directors will be signing? (multi director company)</a>
    </li>
   <li>
    <a href="/V2/how-will-the-multi-directors-be-signing.html" class="govuk-link">How will directors be signing? (multi director company)</a></li>
         <li>
    <a href="/V2/check-your-answers-multi-directors.html" class="govuk-link">Check your answers (multi director company)</a>
    </li>
    <li>
    <a href="/V2/sign-the-application.html" class="govuk-link">Sign the application</a>
    </li>
          <li>
    <a href="/V2/wait-screen-other-directors-must-sign-multi-director.html" class="govuk-link">'Wait' screen - other directors must sign (multi director company)</a>
    </li>
   <li class="govuk-!-margin-top-9">
    <a href="/V2/how-do-you-want-to-pay.html" class="govuk-link">How do you want to pay?</a>
    </li>
    <li>
    <a href="/V2/review-your-payment.html" class="govuk-link">Review your payment</a>
    </li>
    <li>
    <a href="https://products.payments.service.gov.uk/pay/aa2f2fa3be904b93887d8bef7b4909ab" class="govuk-link">Payment on GOV Pay prototype</a> (use card number 4444333322221111)
    </li>
    <li>
    <a href="/V2/application-received.html" class="govuk-link">Application complete</a>
    </li>

   </ul>



   </div>



<div class="govuk-grid-column-one-half">
<h2 class="govuk-heading-m">'Other' signer(s)</h2>
<ul class="govuk-list govuk-list--bullet">
  <li>
    <a href="/V2/email-sign-the-application.html" class="govuk-link">Email</a>
    </li>
      <li>
    <a href="/V2/sign-in-to-ch.html" class="govuk-link">Sign in to CH or GOV One Login</a>
    </li>
    <li>
    <a href="/V2/gov-one-log-in.html" class="govuk-link">Sign in (to GOV One Login)</a>
    </li>
       <li>
    <a href="/V2/sign-in.html" class="govuk-link">Enter GOV One Login email address</a>
    </li>
    <li>
    <a href="/V2/enter-password.html" class="govuk-link">Enter GOV One Login password</a>
    </li>
    <li>
    <a href="/V2/check-your-phone.html" class="govuk-link">Check your phone</a>
    </li>
      <li>
    <a href="/V2/company-number.html" class="govuk-link">Company number</a>
    </li>
       <li>
    <a href="/V2/view-company-info.html" class="govuk-link">View company info</a>
    </li>
       <li>
    <a href="/V2/company-authentication.html" class="govuk-link">Company auth code</a>
    </li>
        <li>
    <a href="/V2/sign-the-application.html" class="govuk-link">Sign the application</a>
    </li>
      <li>
    <a href="/V2/wait-screen-other-signer-single-director.html" class="govuk-link">'Wait' screen - the presenter now needs to complete the application (single director company) </a>
    </li>
      <li>
    <a href="/V2/wait-screen-other-signers-multi-directors.html" class="govuk-link">'Wait' screen - the presenter now needs to complete the application (multi director company) </a>
    </li>
     <li>
    <a href="/V2/stop-screen-poa.html" class="govuk-link">Stop screen to confirm signer has Power of Attorney </a>
    </li>
    
   </ul>
</div>


</div>
</div>
{% endblock %}
