{% extends "layouts/main.html" %}

{% block pageTitle %}
  Stop Screen Bank Account – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">Confirm that bank accounts are empty</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{{ govukWarningText({
  text: "All money should be removed from the company’s bank accounts before continuing. Money in these accounts cannot be accessed once the company is closed.",
  iconFallbackText: "Warning"
}) }}

{{ govukCheckboxes({
  idPrefix: "bank-account-cleared",
  name: "bank-account-cleared",
  fieldset: {
    legend: {
      text: "",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "acknowledged",
      text: "I confirm that the company bank accounts are empty.",
      checked: false
    }
  ]
}) }}

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Save and continue",
  href: "/v2/sign-in"
}) }}


    </div>
  </div>

{% endblock %}
