{% extends "layouts/email.html" %}

{% block header %}
<div class="govuk-width-container">
  {% include "/includes/email-header-rejected.html" %}
  {{ govukHeader({
    containerClasses: "govuk-!-padding-left-0"
  }) }}
</div>
{% endblock %}

{% block pageTitle %}
Application rejected – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form action="/V10/email-sign-the-application" method="post">

  {{ govukPanel({
    titleText: "Application deleted",
    html: "Your reference number<br><strong>110612-998716-690438</strong>"
  }) }}

  {{ govukSummaryList({
    rows: [
      {
        key: { text: "Company number" },
        value: { text: data['companyNumber'] or "87654321" }
      },
      {
        key: { text: "Company name" },
        value: { text: "COMPANY LTD" }
      }
    ]
  }) }}

   <p class="govuk-body">
    The application to strike off and dissolve (close) this company has been deleted. The process to dissolve the company has now stopped.   We've emailed all directors selected to sign, and the person who started the application to let them know.
  </p>

   <p class="govuk-body">
    If you were not expecting the application to be deleted, you should try to resolve this within the company.
  </p>



   <p>
      If you still want to dissolve this company, you can start a new application: <br>
  <a href="https://find-and-update.company-information.service.gov.uk/close-a-company/" class="govuk-link govuk-link--no-visited-state">find-and-update.company-information.service.gov.uk/close-a-company/</a>
    </p>
    
<p class="govuk-hint govuk-!-margin-top-9 govuk-!-font-size-16 "> Help us improve by completing our quick survey: 
    <a href="https://www.smartsurvey.co.uk/s/closing-a-company-feedback" 
     target="_blank" 
     rel="noopener noreferrer" class="govuk-link">
    https://www.smartsurvey.co.uk/s/closing-a-company-feedback
  </a>
</p>

<p class="govuk-hint govuk-!-font-size-16 "> Phone number: 
    <a href="+44 (0)303 1234 500" 
     target="_blank" 
     rel="noopener noreferrer" class="govuk-link">
    +44 (0)303 1234 500
  </a>
</p>

<p class="govuk-hint govuk-!-font-size-16 "> Email: 
    <a href="enquiries@companieshouse.gov.uk. " 
     target="_blank" 
     rel="noopener noreferrer">
    enquiries@companieshouse.gov.uk
  </a>
</p>

</form>

{% endblock %}
