{% extends "layouts/main.html" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block pageTitle %}
  Application received – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukPanel({
      titleText: "Application received",
      html: "We've received an application to close this company"
    }) }}

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Company number"
          },
          value: {
            text: data['companyNumber'] or "87654321"
          }
        },
        {
          key: {
            text: "Company name"
          },
          value: {
            text:
              "Single Director Company Ltd"
              if data['companyNumber'] == "12345678"
              else "A MULTI DIRECTOR COMPANY LTD"
          }
        },
        {
          key: {
            text: "Application reference"
          },
          value: {
            text: "HDJ2123F"
          }
        },
        {
          key: {
            text: "Payment reference"
          },
          value: {
            text: "7KBFKRI8DTQ8TNI"
          }
        }
      ]
    }) }}

    <p>
      We received an application to close this company from
      <strong>ella.adams@example.com</strong> on 1 July 2026.
      We are currently processing the application, and will decide whether to
      accept or reject it within 2 working days.
    </p>

    <h2 class="govuk-heading-m">
      Directors must inform all interested parties
    </h2>

    <p>
      The directors must send a copy of this application to all interested parties,
      within 7 days of making the application.
    </p>

    <p>
      <a href="pdf-mock-up.html" class="govuk-link">
        Download a copy of the application
      </a>.
      Once we accept the application, we'll also publish a copy on the Companies House
      register where anyone can download it.
    </p>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        It is a criminal offence not to tell all interested parties that an application has been made to close the company.
      </strong>
    </div>

    <h2 class="govuk-heading-m">
      What happens next
    </h2>

    <p>
      We'll publish a strike off notice for the company in the relevant Gazette.
      After 2 months, unless there is an objection to the company closing, another notice
      will be published in the relevant Gazette and the company will be dissolved.
    </p>

    <p>
      This is a new service. Help us improve it by providing
      <a class="govuk-link"
         href="https://www.gov.uk/strike-off-your-company-from-companies-register/feedback">
        feedback (opens in new tab)
      </a>.
    </p>

  </div>
</div>

{% endblock %}