{% extends "layouts/main.html" %}

{% block pageTitle %}
You’ll need to apply using a paper form (DS01) – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      You’ll need to apply using a paper form (DS01)
    </h1>

    <p class="govuk-body">
      This company has a large number of directors or members.
    </p>

    <p class="govuk-body">
      Our online Apply to strike off and dissolve a company service can only be used for companies with up to 150 directors or members.
    </p>

    <p class="govuk-body">
      <a href="#" class="govuk-link">
        Download a DS01 paper form</a>.
      A paper application costs £18 and you’ll need to pay by cheque or postal order.
    </p>

  </div>
</div>

{% endblock %}