{% extends "layouts/main.html" %}

{% block pageTitle %}
There is already an application in progress – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      There is already an application in progress
    </h1>

    <p class="govuk-body">
      <strong>sara.francis@example.com</strong> has already submitted an application to close this company.
    </p>

    <p class="govuk-body">
      You cannot submit another application.
    </p>

    <h2 class="govuk-heading-m">
      What you can do
    </h2>

    <p class="govuk-body">
      You can contact <strong>sara.francis@example.com</strong> if you think this is incorrect or need more information.
    </p>

    <p class="govuk-body">
      You can also check the status of the application if you have access to it.
    </p>

    <a href="/v7/test-sign-journey" class="govuk-button">
      View application in progress
    </a>

  </div>
</div>

{% endblock %}