{% extends "layouts/main.html" %}

{% block pageTitle %}
We've already accepted an application to close this company – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      We've already accepted an application to close this company
    </h1>

    <p class="govuk-body">
      We received an application to close this company from <strong>sara.francis@example.com</strong> on 2 June 2026. We've accepted the application, and the process of closing the company has started.
    </p>

    <p class="govuk-body">
      You cannot submit another application.
    </p>

 
</div>

{% endblock %}