{% extends "layouts/main.html" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% block pageTitle %}
Directors must sign – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- Header panel -->
<a href="/V7/test-sign-journey-acsp-signed" style="text-decoration:none; display:block;">
  <div style="background-color:#1d70b8; color:white; padding:40px 20px; margin-bottom:30px; text-align:center;">
    <h1 class="govuk-heading-xl" style="color:white; margin-bottom:20px;">
      Application in progress
    </h1>

    <p class="govuk-body-l" style="color:white; margin-bottom:10px;">
      Directors must sign this application before it can be submitted
    </p>

    <!--
    <p class="govuk-heading-xl" style="color:white; margin:0;">
      HDJ2123F
    </p>-->
  </div>
</a>

    <!-- Company details -->
    {{ govukTable({
      rows: [
        [
          {
            text: "Company number",
            classes: "govuk-!-font-weight-bold"
          },
          { text: "87654321" }
        ],
        [
          {
            text: "Company name",
            classes: "govuk-!-font-weight-bold"
          },
          { text: "A MULTI DIRECTOR COMPANY LTD" }
        ],
        [
          {
            text: "Application reference",
            classes: "govuk-!-font-weight-bold"
          },
          { text: "HDJ2123F" }
        ]
      ]
    }) }}

    <!-- Intro -->
    <p class="govuk-body">
      <strong>sara.francis@example.com</strong> has started an application to strike off and dissolve this company. They selected 4 directors to sign the application.
    </p>

    <p class="govuk-body">
      Each signing director now needs to log in to this service and sign the application. We've emailed them to let them know.
    </p>

    <p class="govuk-body">If you are one of the signing directors, select 'Sign application' for your name.</p>

    <p class="govuk-body">
      Once all directors have signed, <strong>sara.francis@example.com</strong> can log back in, pay the £13 fee and submit the application.
    </p>

    <h2 class="govuk-heading-l">Signing directors</h2>

    <p class="govuk-body govuk-hint">
      Only the directors who have been selected to sign will appear here. 
    </p>

  </div>
</div>

<!--  table widened -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  {{ govukTable({
  head: [
    { text: "Name" },
    { text: "Email address" },
    { text: "Status" }
  ],
  rows: [

    [
      {
        html: '
          <div>ADAMS, Ella</div>
          <div class="govuk-hint">May 1988</div>
        '
      },
      {
        html: '
          ella.adams@example.com
          <div class="govuk-!-margin-top-1">
            <a class="govuk-link" href="#">Change email address</a><br>
            <a class="govuk-link" href="#">Resend email</a>
          </div>
        '
      },
      {
        html: govukTag({
          text: "Not signed",
          classes: "govuk-tag--grey"
        })
      }
    ],

    [
      {
        html: '
          <div>FRANCIS, Sara</div>
          <div class="govuk-hint">January 1987</div>
        '
      },
      {
        html: '
          sara.francis@example.com
          <div class="govuk-!-margin-top-1">
            <a class="govuk-link" href="#">Change email address</a><br>
            <a class="govuk-link" href="#">Resend email</a>
          </div>
        '
      },
      {
        html: govukTag({
          text: "Not signed",
          classes: "govuk-tag--grey"
        })
      }
    ],

    [
      {
        html: '
          <div>JOHNSON, Alex</div>
          <div class="govuk-hint">March 1985</div>
        '
      },
      {
        html: '
          alex.johnson@example.com
          <div class="govuk-!-margin-top-1">
            <a class="govuk-link" href="#">Change email address</a><br>
            <a class="govuk-link" href="#">Resend email</a>
          </div>
        '
      },
      {
        html: govukTag({
          text: "Not signed",
          classes: "govuk-tag--grey"
        })
      }
    ],

    [
      {
        html: '
          <div>PATEL, Priya</div>
          <div class="govuk-hint">July 1990</div>
        '
      },
      {
        html: '
          priya.patel@example.com
          <div class="govuk-!-margin-top-1">
            <a class="govuk-link" href="#">Change email address</a><br>
            <a class="govuk-link" href="#">Resend email</a>
          </div>
        '
      },
      {
        html: govukTag({
          text: "Not signed",
          classes: "govuk-tag--grey"
        })
      }
    ]

  ]
}) }}

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- Delete application -->
    <h2 class="govuk-heading-m">Delete this application</h2>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon">!</span>
      <strong class="govuk-warning-text__text">
        This will permanently delete the current application.
      </strong>
    </div>  

    <!--<p class="govuk-body">
      If you then start a new application, you'll be responsible for paying for and submitting it. Any directors who have already signed will need to sign again.
    </p>-->

    <a href="/V7/delete-confirmation" class="govuk-button govuk-button--warning">
      Delete application
    </a>

  </div>
</div>

{% endblock %}
