{% extends "layouts/main.html" %}

{% block pageTitle %}
Which directors will sign the application? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({ text: "Back", href: "javascript:window.history.back()" }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <form method="post" action="/V7/which-directors-will-be-signing">

      {% set checkboxItems = [] %}

      {% if data.whichDirectorAreYou != "EllaAdams" %}
        {% set checkboxItems = checkboxItems.concat([ { value: "EllaAdams", text: "ADAMS, Ella", checked: data.whichDirectorsWillBeSigningTheApplication and "EllaAdams" in data.whichDirectorsWillBeSigningTheApplication } ]) %}
      {% endif %}

      {% if data.whichDirectorAreYou != "SaraFrancis" %}
        {% set checkboxItems = checkboxItems.concat([ { value: "SaraFrancis", text: "FRANCIS, Sara", checked: data.whichDirectorsWillBeSigningTheApplication and "SaraFrancis" in data.whichDirectorsWillBeSigningTheApplication } ]) %}
      {% endif %}

      {% if data.whichDirectorAreYou != "AlexJohnson" %}
        {% set checkboxItems = checkboxItems.concat([ { value: "AlexJohnson", text: "JOHNSON, Alex", checked: data.whichDirectorsWillBeSigningTheApplication and "AlexJohnson" in data.whichDirectorsWillBeSigningTheApplication } ]) %}
      {% endif %}

      {% if data.whichDirectorAreYou != "PriyaPatel" %}
        {% set checkboxItems = checkboxItems.concat([ { value: "PriyaPatel", text: "PATEL, Priya", checked: data.whichDirectorsWillBeSigningTheApplication and "PriyaPatel" in data.whichDirectorsWillBeSigningTheApplication } ]) %}
      {% endif %}

      {% if data.whichDirectorAreYou in ["EllaAdams", "SaraFrancis", "AlexJohnson"] %}
        {% set legendText = "Which other directors will sign the application?" %}
        {% set hintText = "More than half of the directors must sign, so you must select 2 or more of these directors" %}
      {% else %}
        {% set legendText = "Which directors will sign the application?" %}
        {% set hintText = "More than half of the directors must sign, so you must select 3 or more of these directors" %}
      {% endif %}

      {{ govukCheckboxes({
        name: "whichDirectorsWillBeSigningTheApplication",
        fieldset: {
          legend: { text: legendText, isPageHeading: true, classes: "govuk-fieldset__legend--l" }
        },
        hint: { text: hintText },
        items: checkboxItems
      }) }}

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            If a director cannot sign the application themselves
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>Directors who are people must sign the application themselves. Nobody can sign on their behalf.</p>
          <p>If there are not enough directors who can sign, you'll need to
            <a class="govuk-link" href="https://www.gov.uk/file-changes-to-a-company-with-companies-house" target="_blank" rel="noopener noreferrer">
              make changes to the company directors
            </a> before continuing.</p>
        </div>
      </details>

      {{ govukButton({ text: "Continue" }) }}

    </form>
  </div>
</div>
{% endblock %}