{% extends "layouts/main.html" %}

{% from "govuk/components/table/macro.njk" import govukTable %}

{% block pageTitle %}
Application deleted – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Application deleted
    </h1>

    <p class="govuk-body">
      We've deleted the application to strike off and dissolve (close) this company, and emailed all signing directors to let them know.
    </p>

    <!-- Company details -->
    {{ govukTable({
      rows: [
       
        [
          {
            text: "Company number",
            classes: "govuk-!-font-weight-bold"
          },
          {
            text: "87654321"
          }
        ],
                [
          {
            text: "Company name",
            classes: "govuk-!-font-weight-bold"
          },
          {
            text: "A MULTI DIRECTOR COMPANY LTD"
          }
        ],
        [
          {
            text: "Application reference",
            classes: "govuk-!-font-weight-bold"
          },
          {
            text: "HDJ2123F"
          }
        ]
      ]
    }) }}

    <p class="govuk-body">
    If you still want to dissolve this company, you can <a href="/V9/start-2" class="govuk-link">start a new application</a>.

    </p>

    <!--<a href="/V9/start" class="govuk-button" data-module="govuk-button">
      Start new application
    </a>-->

  </div>
</div>

{% endblock %}