{% extends "layouts/main.html" %}

{% block pageTitle %}
  Provide directors' emails – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner govuk-width-container">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.
      </span>
    </p>
  </div>

  <div class="govuk-width-container" style="border-top: 0; border-bottom: 1px solid #b1b4b6; margin-bottom: 10px; padding: 10px 0; text-align: right;">
    <span class="govuk-body-s">
      {{ user_email }}
      <a class="govuk-link" href="/V9/sign-in-to-ch-or-one-login" style="margin-left: 10px;">Sign out</a>
    </span>
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <form action="/V9/provide-corporate-directors-emails" method="post">

      <h1 class="govuk-heading-xl">
       What are their contact details?
      </h1>

      <p class="govuk-body">
        We'll email each director or authorised person, to ask them to sign the application online. You must enter a different email address for each person.
      </p>

      {% from "govuk/components/input/macro.njk" import govukInput %}

          <h2 class="govuk-heading-m">
            ACME LTD
          </h2>

          <p class="govuk-body">
            Provide the details of a person who is authorised by ACME LTD to sign the application on its behalf.
          </p>

          {{ govukInput({
            label: {
              text: "Authorised person's name"
            },
            hint: {
              text: ""
            },
            id: "corporateSignerName",
            name: "corporateSignerName",
            type: "text",
            autocomplete: "name"
          }) }}

          {{ govukInput({
            label: {
              text: "Authorised person's email address"
            },
            hint: {
              text: ""
            },
            id: "corporateDirectorEmail",
            name: "corporateDirectorEmail",
            type: "email",
            autocomplete: "email",
            spellcheck: false
          }) }}

          <h2 class="govuk-heading-m">
            ADAMS, Ella (January 1980)
          </h2>

          {{ govukInput({
            label: {
              text: "Email address"
            },
            id: "ellaEmail",
            name: "ellaEmail",
            type: "email",
            autocomplete: "email",
            spellcheck: false
          }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>
{% endblock %}