{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "What is the company number?",
    classes: "govuk-label--l",
    isPageHeading: true
  },
  hint: {
    text: "This is the 8 character reference issued by Companies House when the 
company was set up."
  },
  id: "event-name",
  name: "eventName"
}) }}
<p class="govuk-body">
  <a href="#" class="govuk-link govuk-link--no-visited-state">Help with company number</a>
</p>

        {{ govukButton({
          text: "Continue",
          href: "view-company-info"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
