{% extends "layouts/main-old-branding.html" %}

{% block pageTitle %}
  Company authentication – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Enter the company authentication
      </h1>

      <form class="form" action="/v1/company-authentication" method="post">
       



      

      {{ govukInput({
  id: "auth-code",
  name: "authCode",
  classes: "govuk-input--width-10",
  label: {
    text: "Authentication code",
    classes: "govuk-visually-hidden"
  },
  hint: {
    text: "This is a 6 character code issued by us to each company"
  }
}) }}


        {{ govukButton({
          text: "Authenticate"    
          }) }}
 

      <p class="govuk-body">
        <a href="#" class="govuk-link govuk-link--no-visited-state">Request an authentication code</a>
      </p>
           </form>
    </div>
  </div>
{% endblock %}

