{% extends "layouts/main-old-branding.html" %}
{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}
{% block pageTitle %}
  Sign the application to strike off and dissolve a company – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set fallbackDate = "22 September 2025" %}
{% set todayHtml = ("today" | duration(14) | govukDate) or fallbackDate %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/V1/email-sign-the-application" method="post">

      <h1 class="govuk-heading-xl">
        Sign the application to strike off and dissolve a company
      </h1>

{% if (data['companyNumber'] == "12345678") %}

      {{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Company number"
      },
      value: {
        text: "12345678"
      }
    },
    {
      key: {
        text: "Company name"
      },
      value: {
        text: "A SINGLE DIRECTOR COMPANY LTD"
      }
    },
    {
      key: {
        text: "Reference number"
      },
      value: {
        text: "MD4VS0"
      }
    }
  ]
}) }}
{% else %}
    {{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Company number"
      },
      value: {
        text: data['companyNumber'] or '00224466'
      }
    },
    {
      key: {
        text: "Company name"
      },
      value: {
        text: "A MULTI DIRECTOR COMPANY LTD"
      }
    },
    {
      key: {
        text: "Reference number"
      },
      value: {
        text: "MD4VS0"
      }
    }
  ]
}) }}
{% endif %}
<govukInsetText>
    <p class="govuk-body">
  An application has been started to strike off and dissolve 
  {% if (data['companyNumber'] == "12345678") %}A SINGLE DIRECTOR COMPANY LTD{% else %}A MULTI DIRECTOR COMPANY LTD{% endif %}.
</govukInsetText>
        <p class="govuk-body">
            It must be signed by more than half of the directors before it can be submitted.
        <p class="govuk-body"> <strong>You will need to sign the application before {{ todayHtml }}.</strong></p>
        <p class="govuk-body">
            To do this, you will need:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>to sign in or create your own Companies House account</li>
            <li>the company number</li>
            <li>the company authentication code</li>
        </ul>
        


<p class="govuk-body">
  
  <span style="color: black;">Sign the application:</span>
  <button style="background: none;
  border: none;
  color: #1d70b8; /* GOV.UK blue */
  text-decoration: underline;
  cursor: pointer;
  font: inherit; /* makes text match surrounding text */
  padding: 0;
  text-align: left;">https://staging.company-information.service.gov.uk/close-a-company/search-company</button>
</p>

<h12 class="govuk-heading-m"> After you have signed the application</h2>
<br><br>
<p class="govuk-body">
    Once all signatures have been received, the person making the application can pay for and submit it. They should notify you once this has been done. <br><br> Directors must then send a signed copy of the application to all interested parties within 7 days. You will be able to download this by signing back in to the service using the link above.
<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-visually-hidden">Warning</span>
    It is a criminal offence not to tell all interested parties that an application has been made to close a company
  </strong>
</div>

<p class="govuk-body">
<span style="color: black;">Read the full list of who to tell about the strike off application:</span>
  <a href="https://www.gov.uk/strike-off-your-company-from-companies-register/apply-to-strike-off" 
     target="_blank" 
     rel="noopener noreferrer">
    https://www.gov.uk/strike-off-your-company-from-companies-register/apply-to-strike-off
  </a>
</p>

<p class="govuk-hint"> Help us improve your online filling experience by completing our quick survey: 
    <a href="https://www.smartsurvey.co.uk/s/closing-a-company-feedback" 
     target="_blank" 
     rel="noopener noreferrer">
    https://www.smartsurvey.co.uk/s/closing-a-company-feedback
  </a>
</p>

<p class="govuk-hint"> Contact centre tel 
    <a href="+44 (0)303 1234 500" 
     target="_blank" 
     rel="noopener noreferrer">
    +44 (0)303 1234 500
  </a>
</p>

<p class="govuk-hint"> or email 
    <a href="enquiries@companieshouse.gov.uk. " 
     target="_blank" 
     rel="noopener noreferrer">
    enquiries@companieshouse.gov.uk. 
  </a>
</p>

    

      </form>

    </div>
  </div>
{% endblock %}
