{% extends "layouts/main.html" %}

{% block pageTitle %}
  Sign the application to strike off and dissolve a company – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Sign the application to strike off and dissolve a company
      </h1>

      {{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Company number"
      },
      value: {
        text: "08660191"
      }
    },
    {
      key: {
        text: "Company name"
      },
      value: {
        text: "GAIL BIDDULPH LIMITED"
      }
    },
    {
      key: {
        text: "Reference number"
      },
      value: {
        text: "MD4VS0"
      }
    }
  ]
}) }}

<govukInsetText>
    <p class="govuk-body">
  An application has been started to strike off and dissolve GAIL BIDDULPH LIMITED.
</govukInsetText>
        <p class="govuk-body">
            It must be signed by more than half of the directors before it can be submitted.
        <p class="govuk-body"> <strong>You will need to sign the application before 30 June 2025.</strong></p>
        <p class="govuk-body">
            To do this, you will need:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>to sign in or create your own Companies House account</li>
            <li>the company number</li>
            <li>the company authentication code</li>
        </ul>
        <p class="a-href govuk-body" href="#">
            If you do not sign the application by 30 June 2025, it will be cancelled and you will need to start a new application.




      <form action="/confirmation" method="post" novalidate>

        {{ govukButton({
          text: "Continue"
         
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
