{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Create your GOV.UK One Login or sign in
      </h1>

      <p>
        You can use your GOV.UK One Login to access some government services.

        In the future, you’ll be able to use it to access all services on GOV.UK.
        

      <p>
        You'll need:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>an email address</li>
        <li>a way to get security codes - this can be a mobile phone number or an authenticator app</li>
      </ul>
      

<div class="govuk-inset-text">
  <p class="govuk-body">
  You can also <a href="#" class="govuk-link">use GOV.UK One Login in Welsh (Cymraeg)</a>.
</p>
</div>

    </div>
  </div>

  {% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Create your GOV.UK One Login"
}) }}

<div>
{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Sign in",
  classes: "govuk-button--secondary",
  href: "sign-in-v1"
}) }}

<p class="govuk-body">
  <a href="#" class="govuk-link govuk-link--no-visited-state">Services you can use with GOV.UK One Login (opens in new tab)</a>
</p>

{% endblock %}
</div>
