{% extends "layouts/main-old-branding.html" %}

{% block pageTitle %}
  How will the single director be signing – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        How will the director be signing the application?
      </h1>
      <form action="/V1/how-will-the-single-director-be-signing" method="post">

      {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{{ govukWarningText({
  text: "Anyone who signs for a director or member must have power of attorney for them. 
  If this is not the case, the application may be rejected.",
  iconFallbackText: "Warning"
}) }}


{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "whereDoYouLive",
  fieldset: {
    legend: {
      text: "DOE, Jane",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "willSign",
      text: "Will sign"
    },
    {
      value: "someoneWillSignForThem",
      text: "Someone will sign for them"
    }
  ]
}) }}




 

      <form action="/confirmation" method="post" novalidate>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
