{% extends "layouts/main-old-branding.html" %}

{% set pageName="Home" %}
<!-- Hide service navigation-->
{% block header %}
{{ govukHeader({
  rebrand: true
}) }}
{% endblock %} 
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width">


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
{% set html %}
  <p class="govuk-notification-banner__heading">
    This version of the prototype is being actively worked on - some things might not work correctly and/or change very quickly. If you have any questions contact Sara Shipley or James Francis.
   
  </p>
{% endset %}

{{ govukNotificationBanner({
  html: html
}) }}
<span class="govuk-caption-xl">Version 1</span>
    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

   <p><a href="https://app.mural.co/t/companieshouse8589/m/companieshouse8589/1752064279109/26e4d29494ba741bf0862cd4ce93c0eddab0f9fc" class="govuk-link">Link to Mural (opens in a new tab)</a><p>

  </div>
  </div>


      <div class="govuk-grid-column-one-half">
    

       <h2 class="govuk-heading-m">Presenter/filer</h2>
<ul class="govuk-list govuk-list--bullet">
  <li>
    <a href="/V1/start.html" class="govuk-link">Start page</a>
    </li>
     <li>
    <a href="/V1/who-to-tell.html" class="govuk-link">Who to tell</a>
    </li>
      <li>
    <a href="/V1/sign-in-to-ch.html" class="govuk-link">Sign in to CH or GOV One Login</a>
    </li>
    <li>
    <a href="/V1/gov-one-log-in.html" class="govuk-link">Sign in (to GOV One Login)</a>
    </li>
    <li>
    <a href="/V1/sign-in.html" class="govuk-link">Enter GOV One Login email address</a>
    </li>
    <li>
    <a href="/V1/enter-password.html" class="govuk-link">Enter GOV One Login password</a>
    </li>
    <li>
    <a href="/V1/check-your-phone.html" class="govuk-link">Check your phone</a>
    </li>
      <li>
    <a href="/V1/company-number.html" class="govuk-link">Company number</a>
    </li>
       <li>
    <a href="/V1/view-company-info.html" class="govuk-link">View company info</a>
    </li>
       <li>
    <a href="/V1/company-authentication.html" class="govuk-link">Company auth code</a>
    </li>
   <li class="govuk-!-margin-top-9">
    <a href="/V1/which-director-are-you.html" class="govuk-link">Which director are you?</a>
    </li>
    <li>
    <a href="/V1/check-your-answers-single-director.html" class="govuk-link">Check your answers (single director company)</a>
    </li>
      <li>
    <a href="/V1/how-will-the-single-director-be-signing.html" class="govuk-link">How will the director be signing? (single director company)</a>
    </li>
        <li>
    <a href="/V1/application-received-for-single-director-not-signing.html" class="govuk-link">Application received for director not signing for themselves (single director company)</a>
    </li>
      <li>
    <a href="/V1/sign-the-application.html" class="govuk-link">Sign the application</a>
    </li>

   <li class="govuk-!-margin-top-9">
    <a href="/V1/which-director-will-be-signing.html" class="govuk-link">Which directors will be signing? (multi director company)</a>
    </li>
   <li>
    <a href="/V1/how-will-the-multiple-directors-be-signing.html" class="govuk-link">How will directors be signing? (multi director company)</a>
    </li>
   <li class="govuk-!-margin-top-9">
    <a href="/V1/how-do-you-want-to-pay.html" class="govuk-link">How do you want to pay?</a>
    </li>
    <li>
    <a href="/V1/review-your-payment.html" class="govuk-link">Review your payment</a>
    </li>
    <li>
    <a href="/V1/payment-placeholder.html" class="govuk-link">GOV Pay placeholder</a>
    </li>
    <li>
    <a href="/V1/application-received.html" class="govuk-link">Application complete</a>
    </li>

   </ul>



   </div>



<div class="govuk-grid-column-one-half">
<h2 class="govuk-heading-m">'Other' signer(s)</h2>
<ul class="govuk-list govuk-list--bullet">
  <li>
    <a href="/V1/email-sign-the-application.html" class="govuk-link">Email</a>
    </li>
      <li>
    <a href="/V1/sign-in-to-ch.html" class="govuk-link">Sign in to CH or GOV One Login</a>
    </li>
    <li>
    <a href="/V1/gov-one-log-in.html" class="govuk-link">Sign in (to GOV One Login)</a>
    </li>
       <li>
    <a href="/V1/sign-in.html" class="govuk-link">Enter GOV One Login email address</a>
    </li>
    <li>
    <a href="/V1/enter-password.html" class="govuk-link">Enter GOV One Login password</a>
    </li>
    <li>
    <a href="/V1/check-your-phone.html" class="govuk-link">Check your phone</a>
    </li>
      <li>
    <a href="/V1/company-number.html" class="govuk-link">Company number</a>
    </li>
       <li>
    <a href="/V1/view-company-info.html" class="govuk-link">View company info</a>
    </li>
       <li>
    <a href="/V1/company-authentication.html" class="govuk-link">Company auth code</a>
    </li>
        <li>
    <a href="/V1/sign-the-application.html" class="govuk-link">Sign the application</a>
    </li>
        <li>
    <a href="" class="govuk-link">Application signed</a>
    </li>
    
   </ul>
</div>


</div>
</div>
{% endblock %}
