{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>
<ul>
  <li>
    <a href="/v1/start-v1" class="govuk-link">Start Page</a>
    </li>
     <li>
    <a href="/v1/who-to-tell-v1" class="govuk-link">Who to tell</a>
    </li>
       <li>
    <a href="/v1/sign-in-v1" class="govuk-link">Sign in</a>
    </li>
            <li>
    <a href="/v1/gov-one-log-in-v1" class="govuk-link">Gov One Login</a>
    </li>
      
        <li>
    <a href="/v1/enter-password-v1" class="govuk-link">Enter password</a>
    </li>
        <li>
    <a href="/v1/check-your-phone-v1" class="govuk-link">Check your phone</a>
    </li>
      <li>
    <a href="/v1/company-number-v1" class="govuk-link">Company number</a>
    </li>
       <li>
    <a href="/v1/view-company-info" class="govuk-link">View company info</a>
    </li>
   </ul>
  </div>
</div>

{% endblock %}
