{% extends "layouts/main-old-branding.html" %}

{% block pageTitle %}
  Review your payment – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/v1/review-your-payment" method="post">

      <h1 class="govuk-heading-xl">
        Review your payment
      </h1>

      {{ govukSummaryList({
        rows: [
          {
        key: {
          text: "Item"
        },
        value: {
          text: ""
        },
        actions: {
          items: [
            {
          html: "<span class='govuk-heading-s'>Amount to pay</span>"
            }
          ]
        }
          },
          {
        key: {
          text: "Apply to strike off and dissolve a company"
        },
        value: {
          text: "£33.00"
        }
          }
        ]

      }) }}

      <h2 class="govuk-heading-m">
        The total amount to pay is £33.00
      </h2>

      <form action="/confirmation" method="post" novalidate>

        {{ govukButton({
          text: "Accept and send"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
