{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        View company information
      </h1>

       <h2 class="govuk-heading-l">
       Company name
      </h2>
      
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Company number"
            },
            value: {
              text: ""
            },
            actions: {
              
            }
          }
          ,
          {
            key: {
              text: "Status"
            },
            value: {
              text: ""
            },
            actions: {
              items: [
                
              ]
            }
          }
          ,
          {
            key: {
              text: "Incorporation date"
            },
            value: {
              text: ""
            },
            actions: {
          
            }
          }
          ,
          {
            key: {
              text: "Company type"
            },
            value: {
              text: ""
            },
            actions: {
          
            }
          }
          ,
          {
            key: {
              text: "Registered office address"
            },
            value: {
              text: ""
            },
            actions: {
          
            }
          }
        ]
      }) }}

      <form action="/confirmation" method="post" novalidate>

        {{ govukButton({
          text: "Confirm and continue",
          href: "company-authentication-v1"
        }) }}

      </form>
      <p class="govuk-body">
  <a href="#" class="govuk-link govuk-link--no-visited-state">Choose a different</a>
</p>

    </div>
  </div>
{% endblock %}
