{% extends "layouts/main-old-branding.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{{ govukCheckboxes({
  name: "waste",
  fieldset: {
    legend: {
      text: "Which directors will be signing?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "More than half of the directors must sign. You should also select directors 
        who will have soemone signing for them."
  },
  items: [
    {
      value: "janeDoe",
      text: "Jane Doe"
    },
    {
      value: "johnSmith",
      text: "John Smith"
    },
    {
      value: "gillDavies",
      text: "Gillian Davies"
    }
  ]
}) }}


      <form action="/confirmation" method="post" novalidate>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
