{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "whichDirectorAreYou",
  fieldset: {
    legend: {
      text: "Which Director are you?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "name",
      text: "Name"
    },
    {
      value: "iAmNotADirectorOfThisCompany",
      text: "I am not a director of this company"
    }
  ]
}) }}
{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue",
  href: "check-your-answers-v1"
}) }}

    </div>
  </div>

{% endblock %}
