{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Who to tell about the company closing
      </h1>

      <p>
        Directors or members must give a copy of this application to all interested 
parties within 7 days of it being submitted. You can download a PDF copy of 
the application after you submit it.

      <p>
        Read the <a href="https://www.gov.uk/government/collections/companies-house-guidance-for-limited-companies-partnerships-and-other-company-types#how-to-apply-for-strike-off-and-who-to-tell">full list of interested parties you must tell about the company closing (opens in a new tab).</a>
      </p>

      {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{{ govukWarningText({
  text: "It is a criminal offence not to tell all interested parties that an application has been made to close the company.",
  iconFallbackText: "Warning"
}) }}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{{ govukCheckboxes({

  items: [
    {
      value: "agree",
      text: "The directors or members understand that they are responsible for notifying all interested parties."
    }
]
}) }}

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue",
  href: "/v1/sign-in-v1"
}) }}
    </div>
  </div>

{% endblock %}
