{% extends "layouts/main.html" %}

{% block pageTitle %}
  Provide directors' emails – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/V3/provide-directors-emails" method="post">

        <h1 class="govuk-heading-xl">
          Provide directors' email addresses
        </h1>

        {% from "govuk/components/input/macro.njk" import govukInput %}
        {% from "govuk/components/button/macro.njk" import govukButton %}

        {# --- Loop through each selected director --- #}
        {% for director in data.whichDirectorsWillBeSigningTheApplication %}

          <h2 class="govuk-heading-m">
            {{ director
              | replace("JaneDoe", "DOE, Jane")
              | replace("SaraFrancis", "FRANCIS, Sara")
              | replace("JamesShipley", "SHIPLEY, James") }}
          </h2>

          {{ govukInput({
            label: { text: "Email address" },
            hint: { text: "We'll email the director and ask them to sign" },
            id: "director-email-" + loop.index,
            name: "directorEmail" + loop.index0,  
            type: "email",
            autocomplete: "email",
            spellcheck: false,
            value: data["directorEmail" + loop.index0]  
          }) }}

        {% endfor %}

        {{ govukButton({ text: "Continue" }) }}

      </form>
    </div>
  </div>
{% endblock %}
