{% extends "layouts/main.html" %}

{% block pageTitle %}
  Provide directors' emails – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/V1/provide-directors-emails" method="post">

        <h1 class="govuk-heading-xl">
          Provide directors' email addresses
        </h1>
        
        <p class="govuk-hint">We'll email each director you've selected, to ask them to sign the application online.</p>

        {% from "govuk/components/input/macro.njk" import govukInput %}
        {% from "govuk/components/button/macro.njk" import govukButton %}

  {% from "govuk/components/input/macro.njk" import govukInput %}
<h2 class="govuk-heading-m">FRANCIS, Sara</h2>

{{ govukInput({
  label: {
    text: "What is the email address for FRANCIS, Sara?"
  },
  hint: {
    text: ""
  },
  id: "email",
  name: "email",
  type: "email",
  autocomplete: "email",
  spellcheck: false
}) }}

  {% from "govuk/components/input/macro.njk" import govukInput %}
<h2 class="govuk-heading-m">SHIPLEY, James</h2>

{{ govukInput({
  label: {
    text: "What is the email address for SHIPLEY, James?"
  },
  hint: {
    text: ""
  },
  id: "email",
  name: "email",
  type: "email",
  autocomplete: "email",
  spellcheck: false
}) }}

 

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
