{% extends "layouts/main.html" %}

{% block pageTitle %}
  Stop Screen Bank Account – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Confirm the company bank accounts are empty</h1>

      {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
      {% from "govuk/components/button/macro.njk" import govukButton %}

      <form method="post" action="/V3/stop-screen-bank-account">
        {{ govukWarningText({
          text: "You will not be able to access money in the company bank accounts once the company is closed.",
          iconFallbackText: "Warning"
        }) }}

        {{ govukCheckboxes({
          idPrefix: "bank-account-cleared",
          name: "bank-account-cleared",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "acknowledged",
              text: "I confirm the company bank accounts are empty.",
              checked: false
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue",
          type: "submit"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
