{% extends "layouts/main.html" %}

{% set pageName="Home" %}
<!-- Hide service navigation-->
{% block header %}
{{ govukHeader({ rebrand: true }) }}
{% endblock %} 

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% set html %}
  <p class="govuk-notification-banner__heading">
   This prototype is being used to test business improvements to the service. 
    <p> We are iterating on existing journeys.
      Any changes identified are raised as Jira tickets.</p>
  </p>
  <p>
    Pages marked “Dev ready” require no further action and are ready to go live.
  </p>
  <p>
    Once testing is complete, learning from this prototype will inform the next version.
  </p>
{% endset %}

{{ govukNotificationBanner({
  html: html
}) }}
  

    <table class="govuk-table">
      
      <caption class="govuk-table__caption govuk-table__caption--m">Prototype Versions</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Version</th>
          <th scope="col" class="govuk-table__header">Created</th>
          <th scope="col" class="govuk-table__header">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {%- from "govuk/components/tag/macro.njk" import govukTag -%}
     <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="/V6/index-v6.html" class="govuk-link">Version 6</a></td>
          <td class="govuk-table__cell">11/03/2026</td>
          <td class="govuk-table__cell">{{ govukTag({ text: "IN PROGRESS", classes: "govuk-tag--yellow" }) }}</td>
        </tr>

    <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="/V5/index-v5.html" class="govuk-link">Version 5</a></td>
          <td class="govuk-table__cell">11/02/2026</td>
          <td class="govuk-table__cell">{{ govukTag({ text: "TESTED", classes: "govuk-tag--green" }) }}</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="/V4/index-v4.html" class="govuk-link">Version 4</a></td>
          <td class="govuk-table__cell">08/01/2026</td>
          <td class="govuk-table__cell">{{ govukTag({ text: "TESTED", classes: "govuk-tag--green" }) }}</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="/V3/index-v3.html" class="govuk-link">Version 3</a></td>
          <td class="govuk-table__cell">24/11/2025</td>
          <td class="govuk-table__cell">{{ govukTag({ text: "TESTED", classes: "govuk-tag--green" }) }}</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="/V2/index-v2.html" class="govuk-link">Version 2</a></td>
          <td class="govuk-table__cell">18/09/2025</td>
          <td class="govuk-table__cell">{{ govukTag({ text: "TESTED", classes: "govuk-tag--green" }) }}</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="/V1/index-v1.html" class="govuk-link">Version 1</a></td>
          <td class="govuk-table__cell">13/06/2025</td>
          <td class="govuk-table__cell">{{ govukTag({ text: "LIVE", classes: "govuk-tag--blue" }) }}</td>
        </tr>

      </tbody>
    </table>

  </div>
</div>

{% endblock %}
