{% extends "layouts/main.html" %}

{% set pageName="Home" %}
<!-- Hide service navigation-->
{% block header %}
{{ govukHeader({
  rebrand: true
}) }}
{% endblock %} 
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

<ul class="govuk-list govuk-list--bullet">
  <li><a href="/V1/index-v1.html" class="govuk-link">Version 1</a> (as live/staging)</li>
</ul>
  </div>
</div>

{% endblock %}
